.git
.git/*
.gitignore

**/node_modules
**/bun.lockb
**/.svelte-kit
**/.vite
**/dist
**/build
**/output
**/tmp

*.log
coverage
coverage.*

.env
.env.*
*.local

*.db
*.db-wal
*.db-shm

.vscode
.idea
*.swp

.DS_Store
Thumbs.db